spring:
  application:
    name: diary

  datasource:
    hikari:
      jdbc-url: jdbc:h2:tcp://localhost/C:\workspcae\07_RestServer\db2\tdb
      driver-class-name: org.h2.Driver
      username: sa
      password: 1234

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

  jpa:
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    defer-datasource-initialization: true

server:
  port: 8080

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true