spring:
  application:
    name: diary

  datasource:
    hikari:
      jdbc-url: jdbc:h2:tcp://localhost/C:\workspcae\07_RestServer\db2\tdb
      driver-class-name: org.h2.Driver
      username: sa
      password: 1234

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

server:
  port: 8080

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

mybatis:
  type-aliases-package: com.kh.board.entity
  mapper-locations: classpath:mappers/*.xml
  configuration:
    map-underscore-to-camel-case: true