.highlight {
    color: yellow;
    font-weight: bold;
    background-color: rgba(243, 0, 0, 0.3);
    padding: 5px;
    border-radius: 50px;
}

.highlight2 {
    color: rgb(255, 0, 0);
    font-weight: bold;
    background-color: rgba(243, 0, 0, 0.3);
    padding: 5px;
    border-radius: 50px;
}